@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant green (&:where(.green, .green *));

/* Тут указываются константы для разных тем(Здесь названия не должны пересекаться с tailwind называниями) */
:root {
	--foreground: #2a2a2a;
	--background: #f5f5f5;
	--primary: #806df2;
	--bg-gradient: linear-gradient(to top, #f3eeff, #f6f5ff);
}

.dark {
	--foreground: #f5f5f5;
	--background: #121212;
	--bg-gradient: linear-gradient(to bottom, #35004f, #190024);
}

.green {
	--foreground: #2a2a2a;
	--background: #8dffb9;
	--primary: #4caf50;
	--bg-gradient: linear-gradient(to top, #abfab2, #eaffd2);
}

/* Здесь мы присваиваем это всё к Tailwindcss */
@theme inline {
	--color-primary: var(--primary);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
}

@layer base {
	body {
		@apply bg-background text-foreground;
		background-image: var(--bg-gradient);
	}
}

@layer utilities {
	@keyframes stripes {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 56px 0;
		}
	}

	.animate-stripes {
		animation: stripes 1.5s linear infinite;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}

html {
	font-size: 16px;
}

html,
body {
	font-family: var(--font-sans);
}

body {
	color: #2a2a2a;
	min-width: 320px;
	min-height: 100vh;
}
